@tailwind base;
@tailwind components;
@tailwind utilities;

.icon_light {
  -webkit-filter: brightness(0) invert(1);
  /* filter: invert(2%) sepia(38%) saturate(137%) hue-rotate(202deg)
    brightness(97%) contrast(97%) !important; */
  filter: brightness(0) invert(0.05);
}

.iframe-rounded {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-color: var(--background);
}

.tool-detail-rounded {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.movie-iframe-rounded {
  border-radius: var(--radius);
  border-color: var(--background);
}

/* scroll */

.after::-webkit-scrollbar {
  width: calc(0.6rem + 2px);
}

.after::-webkit-scrollbar-track {
  margin: 1px;
}
.after::-webkit-scrollbar-corner {
  display: none;
}

.after::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  border: solid transparent;
  background-clip: content-box;
  border-width: 1px 1px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 3DUI */
#leva__root {
  display: none;
}

/* markdown area */
.md {
  font-size: 16px;
  line-height: 1.6;
  border-radius: 8px;
  overflow-wrap: break-word;
}

/* Headers */
.md h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 4px;
}

.md h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 4px;
}

.md h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 4px;
}

/* Paragraphs and Text */
.md p {
  margin-bottom: 0px;
}

/* Links */
.md a {
  color: #3182ce;
  text-decoration: none;
}

.md a:hover {
  text-decoration: underline;
}

/* Code blocks */
.md pre {
  border: 1px solid hsl(var(--muted-foreground));
  background: #09090b;
  color: #fafafa;
  border-radius: 0.5rem;
  padding: 12px;
  overflow-x: auto;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 8px;
}

.md code {
  border-radius: 4px;
  padding: 2px 4px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.95em;
}

/* Lists */
.md ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.md ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-bottom: 8px;
}

.md li {
  margin-bottom: 8px;
}

/* Blockquotes */
.md blockquote {
  border-left: 4px solid #3182ce;
  padding-left: 12px;
  margin-left: 0;
  color: #4a5568;

  font-style: italic;
}

/* Tables */
.md table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 8px;
}

.md th,
.md td {
  border: 1px solid hsl(var(--primary));
  padding: 8px;
  text-align: left;
}

.md th {
  border: 1px solid hsl(var(--primary));
  font-weight: bold;
}

.md img {
  border-radius: var(--radius);
}

.md hr {
  padding-top: 10px;
}
